
@font-face {
  font-family: 'corm';
  src: url(../fonts/CormorantInfant-Medium.woff) format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'poppins';
  src: url(../fonts/Poppins-Regular.woff) format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'poppins';
  src: url(../fonts/Poppins-Medium.woff) format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'pretendard';
  src: url('../fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'pretendard';
  src: url('../fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'pretendard';
  src: url('../fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 300;
}
